{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

{% comment %}
  It's best to load images as JPG instead of PNG for faster
  loading, so that is our default. If you upload
  PNG files and want to keep them that way, set the line
  below to false.
{% endcomment %}
{%- assign force_jpg = true -%}

{% comment %}
  Can set thumbnail position to 'below', but only suggested
  when using the 'Fade' image style (set in Product grid)
{% endcomment %}
{%- assign thumbnail_position = 'beside' -%}

{% unless product.empty? %}
  <div
    data-product-images
    data-zoom="{{ product_zoom_enable }}"
    {% if product_zoom_enable %}
      {% if product_image_type == 'slider' %}
        data-has-slideshow="true"
      {% endif %}
    {% endif %}>
    <div class="product__photos product__photos--{{ thumbnail_position }}">

      <div class="product__main-photos{% if product_image_type == 'slider' %} product__main-photos--slider{% endif %}" data-aos>
        <div id="ProductPhotos-{{ section_id }}" data-product-photos>
          {% for image in product.images %}
            {%- assign is_featured = false -%}
            {% if featured_image == image %}
              {%- assign is_featured = true -%}
            {% endif %}
            {%- assign image_alt = image.alt -%}
            {%- assign has_product_video = false -%}
            {%- assign video_type = '' -%}
            {% if image.alt contains 'youtube.com/watch' %}
              {%- assign has_product_video = true -%}
              {%- assign video_type = 'youtube' -%}
              {%- assign video_id = image.alt | split: 'v=' -%}
              {%- assign video_id = video_id[1] | split: '&' | first -%}
            {% endif %}
            {% if image.alt contains 'youtu.be/' %}
              {%- assign has_product_video = true -%}
              {%- assign video_type = 'youtube' -%}
              {%- assign video_id = image.alt | split: '.be/' -%}
              {%- assign video_id = video_id[1] | split: '&' | first -%}
            {% endif %}
            {% if image.alt contains 'vimeo.com' %}
              {%- assign has_product_video = true -%}
              {%- assign video_type = 'vimeo' -%}
              {%- assign video_id = image.alt | split: '.com/' -%}
              {%- assign video_id = video_id[1] | split: '/' | first -%}
            {% endif %}
            {% if image.alt contains '.mp4' %}
              {%- assign has_product_video = true -%}
              {%- assign video_type = 'mp4' -%}
            {% endif %}
            {% if has_product_video %}
              {%- assign image_alt = product.title -%}
            {% endif %}
            <div
              class="product__slide {% if is_featured %}starting-slide{% else %}secondary-slide{% endif %}"
              data-product-photo
              data-index="{{ forloop.index0 }}">
              <div class="product-image-main">
                <div class="image-wrap
                  {% if has_product_video and video_type == 'youtube' %} hide{% endif %}
                  {% if has_product_video and video_type == 'vimeo' %} hide{% endif %}
                  {% if has_product_video and video_type == 'mp4' %} hide{% endif %}" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">

                  {%- if force_jpg -%}
                    {%- assign img_url = image | img_url: '1x1', format: 'jpg' | replace: '_1x1.', '_{width}x.' -%}
                    {%- assign zoom_img_url = image | img_url: product_zoom_size, format: 'jpg' -%}
                  {%- else -%}
                    {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    {%- assign zoom_img_url = image | img_url: product_zoom_size -%}
                  {%- endif -%}

                  {% if is_featured %}
                    <img
                        class="{% if product_zoom_enable %}photoswipe__image{% endif %} lazyload"
                        data-photoswipe-src="{{ zoom_img_url }}"
                        data-photoswipe-width="{{ image.width }}"
                        data-photoswipe-height="{{ image.height }}"
                        data-index="{{ forloop.index }}"
                        data-src="{{ img_url }}"
                        data-widths="[750, 900, 1080]"
                        data-aspectratio="{{ image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ image_alt | escape }}">
                    <noscript>
                      <img
                        class="lazyloaded"
                        src="{{ image | img_url: product_image_size }}" alt="{{ image_alt | escape }}">
                    </noscript>
                  {% else %}
                    <img class="{% if product_zoom_enable %}photoswipe__image{% endif %} lazyload"
                        data-photoswipe-src="{{ zoom_img_url }}"
                        data-photoswipe-width="{{ image.width }}"
                        data-photoswipe-height="{{ image.height }}"
                        data-index="{{ forloop.index }}"
                        data-src="{{ img_url }}"
                        data-widths="[750, 900, 1080]"
                        data-aspectratio="{{ image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ image_alt | escape }}">
                    <noscript>
                      <img class="lazyloaded" src="{{ image | img_url: product_image_size }}" alt="{{ image_alt | escape }}">
                    </noscript>
                  {% endif %}
                </div>
                {% if has_product_video %}
                  {%- assign aspect_width = settings.product_video_width | divided_by: 100.00 -%}
                  {%- assign aspect_ratio = settings.product_video_height | divided_by: aspect_width -%}
                  <div
                    data-video-type="{{ video_type }}"
                    class="product__video-wrapper
                      {% if has_product_video %}
                        {% if video_type == 'youtube' or video_type == 'vimeo' %}
                          loading
                        {% endif %}
                      {% endif %}"
                    data-video-style="{{ settings.product_video_style }}"
                    style="padding-bottom: {{ aspect_ratio }}%;">
                    {% if video_type == 'youtube' %}
                      <div
                        id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                        data-product-video="true"
                        class="product__video"
                        data-image-count="{{product.images | size }}"
                        data-video-type="{{ video_type }}"
                        data-video-style="{{ settings.product_video_style }}"
                        data-youtube-id="{{ video_id }}"
                        data-video-width="{{ settings.product_video_width }}"
                        data-video-height="{{ settings.product_video_height }}">
                      </div>
                    {% endif %}
                    {% if video_type == 'vimeo' %}
                      <div
                        id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                        data-product-video
                        class="product__video"
                        data-image-count="{{product.images | size }}"
                        data-video-type="{{ video_type }}"
                        data-video-style="{{ settings.product_video_style }}"
                        data-video-id="{{ video_id }}"
                        data-video-width="{{ settings.product_video_width }}"
                        data-video-height="{{ settings.product_video_height }}">
                      </div>
                    {% endif %}
                    {% if video_type == 'mp4' %}
                      <video
                        loop playsinline
                        {% if settings.product_video_style == 'muted' %}muted{% endif %}
                        {% if settings.product_video_style == 'unmuted' %}controls{% endif %}
                        controlsList="nodownload"
                        data-image-count="{{product.images | size }}"
                        data-video-type="{{ video_type }}"
                        data-video-style="{{ settings.product_video_style }}"
                        {% if isModal %}
                          data-video-src="{{ image.alt }}"
                        {% endif %}
                        id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                        data-product-video
                        class="product__video">
                        {% unless isModal %}
                          <source src="{{ image.alt }}" type="video/mp4">
                        {% endunless %}
                        Your browser does not support the video tag.
                      </video>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
              {% if product_image_type == 'stacked' %}
                {% if product_zoom_enable and has_product_video == false %}
                  <button type="button" class="btn btn--tertiary btn--circle product__photo-zoom small--hide" data-index="{{ forloop.index }}">
                    {% include 'icon-search' %}
                    <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t }}</span>
                  </button>
                {% endif %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
        {% if product_zoom_enable %}
          <button type="button" class="btn btn--tertiary btn--circle product__photo-zoom{% if product_image_type == 'stacked' %} medium-up--hide{% endif %}">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t }}</span>
          </button>
        {% endif %}
      </div>

      <div
        id="ProductThumbs-{{ section_id }}"
        class="product__thumbs product__thumbs--{{ thumbnail_position }} small--hide{% if product.images.size == 1 %} medium-up--hide{% endif %}"
        data-position="{{ thumbnail_position }}"
        data-product-thumbs
        data-aos>
        {% if product_image_type == 'stacked' %}
          <div class="product__thumbs-sticky">
        {% endif %}
          {% if product.images.size > 1 %}
            {% for image in product.images %}
              {%- assign image_alt = image.alt -%}
              {%- assign has_product_video = false -%}
              {%- assign video_type = '' -%}
              {% if image.alt contains 'youtube.com/watch' %}
                {%- assign has_product_video = true -%}
                {%- assign video_type = 'youtube' -%}
              {% endif %}
              {% if image.alt contains 'youtu.be/' %}
                {%- assign has_product_video = true -%}
                {%- assign video_type = 'youtube' -%}
              {% endif %}
              {% if image.alt contains 'vimeo.com' %}
                {%- assign has_product_video = true -%}
                {%- assign video_type = 'vimeo' -%}
              {% endif %}
              {% if image.alt contains '.mp4' %}
                {%- assign has_product_video = true -%}
                {%- assign video_type = 'mp4' -%}
              {% endif %}
              {% if has_product_video %}
                {%- assign image_alt = product.title -%}
              {% endif %}

              <div class="product__thumb-item{% if product_image_type == 'stacked' and forloop.index == 1 %} thumb--current{% endif %}"
                data-product-thumb-item
                data-index="{{ forloop.index0 }}">
                <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">
                  <div
                    class="product__thumb js-no-transition"
                    data-id="{{ image.id }}"
                    data-index="{{ forloop.index0 }}"
                    data-product-thumb
                    >
                    {% if has_product_video %}
                      <span class="product__thumb-play">
                        {% include 'icon-play' %}
                      </span>
                    {% endif %}

                    {%- if force_jpg -%}
                      {%- assign img_url = image | img_url: '1x1', format: 'jpg' | replace: '_1x1.', '_{width}x.' -%}
                    {%- else -%}
                      {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    {%- endif -%}

                    <img class="lazyload"
                        data-src="{{ img_url }}"
                        data-widths="[360, 540, 750, 900, 1080]"
                        data-aspectratio="{{ image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ image_alt | escape }}">
                    <noscript>
                      <img class="lazyloaded" src="{{ image | img_url: product_thumb_size }}" alt="{{ image_alt | escape }}">
                    </noscript>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        {% if product_image_type == 'stacked' %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% else %}
  <div class="product__photos">
    <div class="product__main-photos" style="width: 100%">
      <div id="ProductPhotos-{{ section_id }}">
        <div data-index="{{ forloop.index0 }}">
          <a href="#">
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endunless %}
