<div id="SearchModal" class="modal modal--solid">
  <div class="modal__inner">
    <div class="modal__centered page-width text-center">
      <div class="modal__centered-content">
        <form action="/search" method="get" class="search-modal__wrapper" role="search">
          <input type="hidden" name="type" value="{{ settings.search_type }}">
          <input type="search" name="q"
            value="{{ search.terms | escape }}"
            placeholder="{{ 'general.search.placeholder' | t }}"
            id="SearchModalInput"
            class="search-modal__input"
            aria-label="{{ 'general.search.placeholder' | t }}">
          <button type="submit" class="text-link search-modal__submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        </form>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn--tertiary btn--circle modal__close js-modal-close text-link">
    {% include 'icon-close' %}
    <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t }}</span>
  </button>
</div>
